---
layout: base
feature-heading-one: Question Everything.
feature-heading-two: Truth you shall find.
showcase:
  one-image: https://images.unsplash.com/photo-1567427018141-0584cfcbf1b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80
  one-title: Showcase the Stars
  one-description: Lots of pretty pictures of nice stars
  two-image: https://images.unsplash.com/photo-1516339901601-2e1b62dc0c45?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=920&q=80

---

{% include hero.njk %}

{% include feature-3-column.njk %}

{% include showcase.njk %}

{% include testimonial.njk %}
